.experiance {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.bg-green {
    background-color: #00730C;
    height: 706px;
    width: 450px;
}
.content-experiance {
    width: 1440px;
}