.sup-header {
    height: 60px;
    background-color: $main-color;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.contacts {
    display: flex;
    align-items: center;
}
.email {
    display: flex;
    
    align-items: center;
    
}
.number {
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.adress {
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.contacts-text {
    display: block;
    margin-left: 10px;
}
.lenguages {
    display: flex;
    align-items: center;
}
.english {
    display: flex;
    align-items: center;
}
.img-down {
    margin-left: 10px;
}

.sub-header {
    height: 85px;
}
.logo {
    margin-right: 130px;
}
.sub-header-menu {
    display: flex;
    align-items: center;
    
}
.main-menu {
    display: block;
}
.menu {
    display: flex;
}
.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #212529;
}
.menu li {
    margin-right: 60px;
}
.menu-position {
    display: flex;
}
.down-black {
    margin-left: 5px;
    display: block;
}
.menu a:hover {
    color: #00730C;
}
.btn-flex {
    display: flex;
    justify-content: center;
}
.btn-laptop-call {
    display: block;
    height: 50px;
    width: 170px;
    background-color: #00730C;
    border: none;
    border-radius: 5px;

   
}
.btn-laptop-call a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    margin-left: 10px;
}
.btn-laptop-call:hover {
    border: #00730C 1px solid;
    width: 175px;
    height: 50px;
    background-color: white;
    color: #00730C;
   
}
.btn-laptop-call a:hover {
    
    width: 175px;
    height: 50px;
    text-decoration: none;
    color: #00730C;
}
.btn-call-us {
    display: flex;
    align-items: center;
}
.btn-laptop-call {
    display: block;
}
.mobile-btn-call-us {
    display: flex;
}
.img-menu-mobile {
    display: none;
    margin-left: 20px;
}
.btn-mobile-call {
    display: none;
    height: 34px;
    width: 40px;
    background-color: #00730C;
    border: none;
    border-radius: 5px;
}

