.sup-header {
  height: 60px;
  background-color: #0C4B35;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.contacts {
  display: flex;
  align-items: center;
}

.email {
  display: flex;
  align-items: center;
}

.number {
  display: flex;
  margin-left: 30px;
  align-items: center;
}

.adress {
  display: flex;
  margin-left: 30px;
  align-items: center;
}

.contacts-text {
  display: block;
  margin-left: 10px;
}

.lenguages {
  display: flex;
  align-items: center;
}

.english {
  display: flex;
  align-items: center;
}

.img-down {
  margin-left: 10px;
}

.sub-header {
  height: 85px;
}

.logo {
  margin-right: 130px;
}

.sub-header-menu {
  display: flex;
  align-items: center;
}

.main-menu {
  display: block;
}

.menu {
  display: flex;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #212529;
}

.menu li {
  margin-right: 60px;
}

.menu-position {
  display: flex;
}

.down-black {
  margin-left: 5px;
  display: block;
}

.menu a:hover {
  color: #00730C;
}

.btn-flex {
  display: flex;
  justify-content: center;
}

.btn-laptop-call {
  display: block;
  height: 50px;
  width: 170px;
  background-color: #00730C;
  border: none;
  border-radius: 5px;
}

.btn-laptop-call a {
  display: block;
  height: 50px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  margin-left: 10px;
}

.btn-call-us {
  display: flex;
  align-items: center;
}

.btn-laptop-call {
  display: block;
}

.mobile-btn-call-us {
  display: flex;
}

.img-menu-mobile {
  display: none;
  margin-left: 20px;
}

.btn-mobile-call {
  display: none;
  height: 34px;
  width: 40px;
  background-color: #00730C;
  border: none;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Nunito", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  .body {
    display: flex;
    flex-direction: column;
  }
  .conteiner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
  }
  .row {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .sup-header {
    height: 60px;
    background-color: #0C4B35;
    font-size: 14px;
    font-weight: 400;
    color: white;
  }
  .contacts {
    display: flex;
    align-items: center;
  }
  .email {
    display: flex;
    align-items: center;
  }
  .number {
    display: flex;
    margin-left: 30px;
    align-items: center;
  }
  .adress {
    display: flex;
    margin-left: 30px;
    align-items: center;
  }
  .contacts-text {
    display: none;
  }
  .lenguages {
    display: flex;
    align-items: center;
  }
  .english {
    display: flex;
    align-items: center;
  }
  .img-down {
    margin-left: 10px;
  }
  .sub-header {
    height: 85px;
  }
  .logo {
    margin: 0;
  }
  .sub-header-menu {
    display: flex;
    align-items: center;
  }
  .main-menu {
    display: none;
  }
  .menu {
    display: flex;
  }
  .menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #212529;
  }
  .menu li {
    margin-right: 60px;
  }
  .menu-position {
    display: flex;
  }
  .down-black {
    margin-left: 5px;
    display: block;
  }
  .menu a:hover {
    color: #00730C;
  }
  .btn-call-us {
    display: flex;
    align-items: center;
  }
  .btn-laptop-call {
    display: none;
  }
  .btn-mobile-call {
    display: block;
  }
  .img-menu-mobile {
    display: block;
    margin-left: 20px;
  }
  .hero-laptop {
    display: none;
    justify-content: center;
    max-width: 100%;
    height: 719px;
    background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
  }
  .description-hero {
    display: none;
    width: 1920px;
    height: 719px;
  }
  .hero-photo-right {
    align-self: flex-end;
    width: 1013px;
    height: 673px;
  }
  .hero-photo-left {
    align-self: flex-end;
    margin-bottom: 60px;
    width: 197px;
    height: 278px;
  }
  .text-hero {
    display: none;
    flex-direction: column;
    width: 696px;
    margin-left: 50px;
  }
  .pre-text {
    display: none;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 133px;
  }
  .list-logo {
    width: 23.8px;
    height: 19.89px;
    margin-right: 10px;
  }
  .hero-caption-text {
    font-weight: 800;
    font-size: 58px;
    margin-bottom: 20px;
    line-height: 79px;
  }
  .green-color {
    color: #00730C;
  }
  .hero-description-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #676767;
  }
  .buttons {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .btn-quate {
    display: none;
    width: 175px;
    height: 50px;
    background-color: #00730C;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    line-height: 50px;
    margin-right: 15px;
  }
  .btn-quate a {
    display: none;
    width: 175px;
    height: 50px;
    text-decoration: none;
    color: white;
    margin-left: -5px;
  }
  .btn-quate:hover {
    width: 175px;
    height: 50px;
    background-color: white;
    color: #00730C;
  }
  .btn-quate a:hover {
    width: 175px;
    height: 50px;
    text-decoration: none;
    color: #00730C;
  }
  .see-it-works {
    display: none;
    font-weight: 600;
    font-size: 18px;
    color: #676767;
    margin-left: 15px;
  }
  .img-right {
    width: 20px;
    height: 15.81px;
    margin-left: 15px;
  }
  .circles {
    display: none;
  }
  .circle500 {
    display: none;
    align-items: center;
  }
  .circle800 {
    display: none;
    align-items: center;
  }
  .circle100 {
    display: none;
    align-items: center;
  }
  .circle-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-right: 20px;
  }
  .circle-img {
    margin-right: 10px;
  }
  .hero-mobile {
    display: flex;
  }
}
.hero-laptop {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 719px;
  background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
}

.description-hero {
  display: flex;
  width: 1920px;
  height: 719px;
}

.hero-photo-right {
  align-self: flex-end;
  width: 1013px;
  height: 673px;
}

.hero-photo-left {
  align-self: flex-end;
  margin-bottom: 60px;
  width: 197px;
  height: 278px;
}

.text-hero {
  display: flex;
  flex-direction: column;
  width: 696px;
  margin-left: 50px;
}

.pre-text {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 133px;
}

.list-logo {
  width: 23.8px;
  height: 19.89px;
  margin-right: 10px;
}

.hero-caption-text {
  font-weight: 800;
  font-size: 58px;
  margin-bottom: 20px;
  line-height: 79px;
}

.green-color {
  color: #00730C;
}

.hero-description-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-quate {
  display: block;
  width: 175px;
  height: 50px;
  background-color: #00730C;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  line-height: 50px;
  margin-right: 15px;
}

.btn-quate a {
  display: block;
  width: 175px;
  height: 50px;
  text-decoration: none;
  color: white;
  margin-left: -5px;
}

.btn-quate:hover {
  width: 175px;
  height: 50px;
  background-color: white;
  color: #00730C;
}

.btn-quate a:hover {
  width: 175px;
  height: 50px;
  text-decoration: none;
  color: #00730C;
}

.see-it-works {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  color: #676767;
  margin-left: 15px;
}

.img-right {
  width: 20px;
  height: 15.81px;
  margin-left: 15px;
}

.circles {
  display: flex;
}

.circle500 {
  display: flex;
  align-items: center;
}

.circle800 {
  display: flex;
  align-items: center;
}

.circle100 {
  display: flex;
  align-items: center;
}

.circle-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 20px;
}

.circle-img {
  margin-right: 10px;
}

.hero-mobile {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
}

.conteiner {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}/*# sourceMappingURL=style.css.map */